<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../css/style2.css">
  <title>blogViLLa - pick the words to express ur thoughts to the viLLa</title>
  <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
  <!-- Google fonts-->
  <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet"
    type="text/css" />
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800"
    rel="stylesheet" type="text/css" />
  <!-- Core theme CSS (includes Bootstrap)-->
  <link href="../../css/styles.css" rel="stylesheet" />
  <style>
    .btn {
      padding: 8px 20px;
      margin: 7px 3px;
      border: 2px solid white;
      border-radius: 8px;
      background: none;
      color: white;
      cursor: pointer;
      font-family: 'Ubuntu', sans-serif;
      font-size: 20px;
    }

    .btn-sm {
      padding: 6px 10px;
      vertical-align: middle;
      font-size: 16px;
    }
    a{
    text-decoration: none;
    color: white;
}
  </style>
</head>

<body>
  <!-- Navigation-->
  <nav class="navbar background h-nav-resp">
    <ul class="nav-list v-class-resp">
      <div class="logo"><img src="../img/img.jpg" alt="logo"></div>
      <li><a href="/">Home</a></li>
      <li><a href="/blogs">Explore VillA</a></li>
      <li><a href="/posts/new">Write Blog</a></li>
      <li><a href="/contact">Contact Us</a></li>
    </ul>
    <div class="rightNav v-class-resp">
      <div><button class="btn btn-sm" style="font-size: 12px; border: none; color: white;"><a href="/auth/register">SignUP</a></button>/
        <button class="btn btn-sm" style="font-size: 12px; border: none; color: white;"><a href="/auth/login">Login</a></button>
      </div>
      <input type=" text" name="search" id="search">
      <button class="btn btn-sm">Search</button>
    </div>
    <div class="burger">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
  </nav>